.general{
    background-color: rgba(245, 240, 240, 0.863);
    width: 44rem;
    min-height: 20rem;
    margin-left: 35rem;
    margin-top: 12rem;
    border-radius: 5%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    position: relative;
}